
ul#menu {
	padding: 0px;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

body{
	padding: 0px;
	margin: 0px;
	/*background-color: #2B2B2B;*/
	color: #faf9f4;
}

header{
	background-color: #F6F6F6;
	
	margin: 0px;
	padding-bottom: 5px;
	height: 130px;
	width: 100%;
	position: fixed;
	top: 0px;
	
}

header h1{
	display: inline-block;
	margin-bottom: 8px;
	margin-left: 420px;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;

	text-align: center;
	color: #2B2B2B;
}

header h2{
	text-align: center;
	color: #4A96AD;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

header nav{
	float: right;
	height: 20px;
	margin-top: 30px;
}

header hr
{
	/*border-color: #DE1B1B;*/
	height: 5px;
	/*width: 75%;*/
	background-color: #DE1B1B;
}

div#thing-i-like ul{
	margin: 0px;
	padding: 0px;
}

div#things-i-like ul li{
	display: inline;
	padding: 80px;
}



div#about-me{
	height: 570px;
	/*margin-top: 140px;*/
	padding-top: 140px;
	height: 570px;
	background-color: #2B2B2B;
}

div.contact_info{
	
	background-color: white;
	margin-top: -16px;
	
	
}

div.contact_info img{
	/*padding: 100px;*/
	padding-right: 200px;
	padding-left: 100px;
	margin-top: 50px;
		/*padding-top: 0px;*/
}

ul#contact_info_list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-bottom: 30px;
	color: black;


}

h3{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

div#things-i-like p{
	padding: 100px;
	padding-top: 40px;
	padding-bottom: 0px;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 30px;
	height: auto;
}


ul#contact_info_list li{
	padding-right: 100px;
	padding-left: 40px;
	padding-bottom: 10px;
	display: inline;
}

ul#contact_info_list a{
	color: #428bca;
}

.proper_align{
	margin-left: 110px;
}

div.element{
	padding: 100px;
	padding-left: 400px;
	font-size: 40px;
	font-family: 'Special Elite', cursive;



	
}

span.typed-cursor{
	visibility: hidden;
}


img{
	margin: 30px;
	margin-top: 100px;
	display: inline-block;
	float: left;

}

div#things-i-like{
	height: 770px;
	
	/*background-color: #F6F6F6;*/
	background-color: #7F909A;

	/*background-color: #3c3f8c;*/
	padding-bottom: 0px;


	margin: 0px;

}

div.social_media
{
	background-color: white;
	display: block;
	height: 200px;
	color: black;
	font-size: 30px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;

}
div.social_media img{
	margin-top: 10px;
}


footer{
	/*background-color: #1D2F3E;*/
	background-color: #2B2B2B;
	height: auto;
	
	margin-top: -16px;
	position: inherit;
}

footer p{
	margin: 0px;
	color: white;

	font-weight: bold;
	font-size: 30px;
	padding-top: 30px;
	padding-left: 30px;
}

p.copyright{
	font-size: 20px;
	padding-bottom: 10px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h4{
	text-align: center;
	font-size: 25px;
}


a.center_a{
	padding-top: 100px;
	padding-left: 500px;
}





