ul#menu {
	    padding: 0;
	    margin-bottom: 11px;
	}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

body{
	padding: 0px;
	margin: 0px;
	background-color: #2B2B2B;
	color: #faf9f4;
}

header{
	background-color: #F6F6F6;
	margin: 0px;
	padding-bottom: 5px;
	
}

header h1{
	display: inline-block;
	margin-bottom: 8px;
	margin-left: 420px;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;

	text-align: center;
	color: #2B2B2B;
}

header h2{
	text-align: center;
	color: #4A96AD;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

header nav{
	float: right;
	height: 20px;
	margin-top: 30px;
}

header hr
{
	border-color: #DE1B1B;
	height: 5px;
	background-color: #DE1B1B;

}

div#about-me{
	height: 400px;
	background-color: #2B2B2B;


}

div.element{
	padding: 100px;
	padding-left: 400px;
	font-size: 40px;
	font-family: 'Special Elite', cursive;


	
}

span.typed-cursor{
	visibility: hidden;
}


img{
	margin: 30px;
	display: inline-block;
	float: left;

}

div#things-i-like{
	height: 400px;
	background-color: #F6F6F6;

}

footer{
	background-color: #1D2F3E;
	height: 100px;
}

/*.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
*/




